:root {
  font-family: 'Inter', sans-serif;  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #54c3f3c1;
  text-decoration: inherit;
}
a:hover {
  color: #54c4f3;
}

body {
  margin: 0;
  padding: 0;
  /* display: flex; */
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
  display: block;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #0D4C8B;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #54c4f3;
  }
  button {
    background-color: #f9f9f9;
  }
}

body {
  font-family: 'Inter', sans-serif;
}

.button-common {
  background-color: #54c4f3;
  font-size: 15px;
  text-transform: uppercase;
  color: #fff;
  border-radius: 6px;
  border: 1px solid #54c4f3;
  margin-top: 0;
  transition: all 0.3s ease-in-out;
  &:hover {
    background-color: #0D4C8B;
    border: 1px solid #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.8);
  }
}

.common-icon {
  color: #54c4f3;
}

@keyframes bgShift {
  0% { background: #1e3c72; }
  50% { background: #2a5298; }
  100% { background: #1e3c72; }
}